.hide-input-file {
  visibility: hidden;
}
.button-image-width-mb-5 {
  width: 100%;
  margin-bottom: 5px !important;
  border: 2px solid var(--primary-color);
}

.heading-color {
  color: var(--secondary-color);
}
.url-input:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}
