.input-group-text {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.heartscape {
  &-input-field {
    border: 1px solid var(--fifth-color) !important;
    outline: none !important;
    box-shadow: none !important;
  }
  &-page-padding {
    padding: 20px 20px;
    background: whitesmoke;
  }
  &-heading-color {
    color: var(--secondary-color);
  }
  &-field-label,
  &-sub-heading-color {
    color: var(--fourth-color);
  }
  &-button {
    margin-top: 5px;
    outline: none !important;
    box-shadow: none !important;
  }
  &-input-field:focus {
    border-color: var(--secondary-color) !important;
    box-shadow: none;
  }
  &-error-class {
    border: 1px solid red !important;
  }
}

.heartscape-reset-button {
  background: var(--primary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
  outline: none;
  box-shadow: none !important;
  font-weight: bold !important;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
