.card {
  &-border-background-color {
    // border-color: var(--fourth-color) !important;
    background-color: white !important;
    color: var(--fourth-color);
    height: 250px;
    border-radius: 1rem !important;
  }
  &-body {
    padding: 0.1rem 1rem !important;
  }
  &-title {
    margin-bottom: 0px !important;
    border-bottom: 3px solid var(--fourth-color);
  }
  &-author {
    font-size: 13px !important;
    color: var(--fourth-color) !important;
  }
  &-header {
    background: none !important;
    color: var(--fourth-color);
    font-size: 20px;
    border: none !important;
    padding: 8px 16px 0px 16px !important;
  }

  &-text {
    font-size: 16px !important;
    color: var(--fourth-color);
  }

  &-tags {
    font-style: italic;
    color: var(--third-color);
  }

  &-button-color {
    background-color: none;
  }
  &-button-color:hover {
    background: var(--fifth-color);
    border-radius: 20px;
  }

  &-button-svg {
    color: var(--fourth-color);
  }

  &-actions-container {
    position: absolute;
    bottom: 10px;
    width: 91%;
    display: flex;
    justify-content: space-around;

    button {
      outline: none !important;
      box-shadow: none !important;
    }
  }
  &-like-button {
    display: flex !important;
    align-items: center !important;
    span {
      font-size: 18px;
      color: var(--secondary-color);
    }
  }
}

.icon {
  &-like {
    color: deeppink;
  }
  &-edit {
    color: var(--third-color);
  }
  &-delete {
    color: var(--fourth-color);
  }
}

.hobby-form-button {
  border: none;
  margin: 10px 0 5px;
  width: 100%;
  border-radius: 12px !important;
  outline: none !important;
  box-shadow: none !important;
  font-family: RobotoSemiBold !important;
  &-primary {
    background: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--secondary-color) !important;
    &:hover {
      background: none !important;
      color: var(--secondary-color) !important;
      border: 1px solid var(--secondary-color) !important;
    }
  }

  &-secondary {
    background: none !important;
    color: var(--fourth-color) !important;
    border-color: var(--fourth-color) !important;
    &:hover {
      background: var(--primary-color) !important;
      color: var(--secondary-color) !important;
      border: 1px solid var(--secondary-color) !important;
    }
  }
}

.create-edit-form {
  background: white !important;
  border-radius: 20px;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

  padding: 6% 6%;
  width: 45%;
  &-h1 {
    color: var(--secondary-color) !important;
    margin-bottom: 0;
    margin-left: -2px;
    margin-top: 1rem;
  }
  &-sub-heading {
    color: var(--fourth-color);
  }
  &-label {
    color: var(--fourth-color);
    margin-bottom: 2px;
  }
  input {
    outline: none !important;
    box-shadow: none !important;
  }
  input:focus {
    border: 1px solid var(--secondary-color) !important;
  }
}
@media screen and (max-width: 767px) {
  .create-edit-form {
    width: 93% !important;
  }
}

#delete-modal {
  height: 24% !important;
  width: 360px !important;
  strong {
    font-size: 17px;
  }
}
.modal-button-div {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  #delete-modal {
    height: 155px !important;
    width: 80% !important;
    margin-top: 45%;
  }
}
